---
layout: base-template.njk
title: ABOUT
showSelfie: true
bodyClass: crt
nesting: ".../"
---


<main>

    <h1 style="text-align:center;">THE WEBMASTER</h1>
    <div class="box">
        <details class="hidden">
            <summary>
                <h2 style="text-align:center">ABOUT</h2>
            </summary>
            <ul>
                <li>
                    <h4>Lichen</h4>
                </li>
                <li>
                    <h4>29</h4>
                </li>
                <li>
                    <h4>He/They/It</h4>
                </li>
                <li>
                    <h4>Queer Transmasc Freak</h4>
                </li>
                <li>
                    <h4>HRT START: Jan 4 2021</h4>
                </li>
                <details class="hidden">
                    <summary>
                        <li>
                            <h4>Disabled, Chronically Ill, Neurodivergent</h4>
                        </li>
                    </summary>
                    <ul>
                        <li>ME/cfs [Myalgic Encephalomylitus]</li>
                        <li>Long Covid</li>
                        <li>H-EDS [Hypermobile Ehlers Danlos Syndrome]</li>
                        <li>Dysautonomia/POTS</li>
                        <li>MCAS [Mast Cell Activation Syndrome]</li>
                        <li>Fibromyalgia</li>
                        <li>Migraine</li>
                        <li>Mobility Aid User</li>
                        <ul>
                            <li>Walker</li>
                            <li>Cane</li>
                        </ul>
                        <li>AUDHD [Autism+ADHD]</li>
                        <li>Anxiety</li>
                        <li>Depression</li>
                    </ul>
                </details>
                <li>
                    <h4><a href="./gallery">Artist</a></h4>
                </li>
                <li>
                    <h4><a href="./Smokeroom">Medical Cannabis User</a></h4>
                </li>
        </details>
        <details class="hidden">
            <summary>
                <li>
                    <h2 style="text-align:center">INTERESTS</h2>
                </li>
            </summary>
            <ul>
                <li>
                    <h4>One Piece</h4>
                </li>
                <li>
                    <h4>The Legend of Zelda</h4>
                </li>
                <li>
                    <h4><a href="./Smokeroom">Cannabis</a></h4>
                </li>
                <li>
                    <h4>DIY</h4>
                </li>
                <li>
                    <h4>Disability Justice</h4>
                </li>
                <li>
                    <h4>Painting</h4>
                </li>
                <li>
                    <h4>The Fall Of Capitalism</h4>
                </li>
                <li>
                    <h4>Gardening</h4>
                </li>
                <li>
                    <h4><a href="./critters">Aquarium Keeping</a></h4>
                </li>
                <li>
                    <h4><a href="./critters">frogs</a></h4>
                </li>
                <li>
                    <h4>Herbalism</h4>
                </li>
                <li>
                    <h4>Vtubing</h4>
                </li>
                <li>
                    <h4><a href="./gallery">Mixed Media Art</a></h4>
                </li>
            </ul>
            </ul>
        </details>
        <h2 style="text-align:center;"><a href="./setup">SETUP</a></h2>


    </div>
</main>