html {
    background-color:#162405;
}

header {
    height: 20rem;
    background-color:#2f4a0e;
}

main {
    width: 20rem;
    background-color: #21310e;
}

aside {

}

.sidebar {

}

#left-sidebar {

}

#right-sidebar {

}

footer  {
    background-color:#2f4a0e;
    height: 2.5rem;
}