html {
    background-color:#162405;
}

header {
    height: 5rem;
    background-color:#2f4a0e;
}

main {
    width: 20rem;
    background-color: #21310e;
}

aside {

}

.sidebar {
    display:flex;
    background-color: rgb(20, 3, 3);
}

#left-sidebar {
    float: left;

}

#right-sidebar {
    float: right;
}

footer  {
    background-color:#2f4a0e;
    height: 1.5rem;
}