@font-face { 
    font-family:PixelSplitter; 
    src: url(https://lichenthropic.neocities.org/fonts/PixelSplitter.ttf);
}

html {
    background-color:#070b01;
    font-family:PixelSplitter;
}

body {
    color:#d8b993;
    background-color:#0f1803;
    width:80%;
    padding: 1rem;
    margin: 0 auto;
}

header {
    height: 5rem;
    background-color:#21310e;
    padding: 1rem;
    text-align: center;
}

main {
    
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

.blog-title {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.blog-entry {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

footer  {
    background-color:#21310e;
    height: 1.5rem;
    padding: 1rem;
    text-align: center;
}