
   
                        /* Scrollbar Track Color */
                        ::-webkit-scrollbar-track {
                            background: black;
                        }
                
                        /* Scrollbar Thumb Color */
                        ::-webkit-scrollbar-thumb {
                            background: #680202;
                            border: .15rem solid #680202;
                        }
                
                        /* Thumb Hover */
                        ::-webkit-scrollbar-thumb:hover {
                            background: #6B0505;
                        }
        
    #accesability   {
        background-color: black;
        color: white;
    }
        
  .button-effects:hover   {
      box-shadow: 0 0 .5rem 0 red;
}

  body {
        background-color: #08031ad3;
        color: #DED5D3;
        background-image: var(--body-bg-image);
        }

    main {
        background-color: #43256eda;
    }
    
    main a {
        color: red;
    }
    
    main a:hover {
        color: limegreen;
        text-shadow: 0 0 .25rem 0 limegreen;
    }
    
    #header {
        background-image: #0101012f var(--header-image);
        width: 100%;
    }
    
    #navbar {
        background-color: #380727;
    }
    
    #navbar ul {
        background-color: #380727;
    }
    
    #navbar a {
        color: red;
    }
    
    #navbar a:hover {
        color: limegreen;
        background-color: #050D00;
        box-shadow: 0 0 1em 0 #3B9900;
    }

    #navi    {
        border: 0.5rem solid black;
   }
   
    aside {
        background-color: #241445d8;       
    }

    #leftsidebar li a:hover {
        color: limegreen;
        background-color: #050D00;
        box-shadow: 0 0 .25em 0 limegreen;
    }
    #leftsidebar a {
        color: limegreen;
    }

    #rightsidebar a {
        color: limegreen;
    }
    
    #rightsidebar li a:hover {
        color: limegreen;
        background-color: #050D00;
        box-shadow: 0 0 .25em 0 limegreen;
    }
    
    #rightsidebar a {
        color: red;
    }
        
    footer {
        background-color: #13092D;
    }
    
    footer a {
        color: red;
    }
    
    footer a:hover {
        color: limegreen;
        background-color: #050D00;
        box-shadow: 0 0 .25em 0 limegreen;
    }
    
    h5 {
        color: #6BB500;
    }

    h4 {
        color: darkmagenta;
    }
    
    h3 {
        color: darkmagenta;
    }
    
    h2 {
        color: darkred;
    }
    
    h1 {
        color: red;     
    }
    
    strong {
        color: #6BB500;
    }
    
    #theme-box {
        background-color: black;
        border: 2.5px solid black;
    }
    
    .colortheme {
        color:white;
        background-color: black;
    }

    .colortheme:hover {
        box-shadow: 0 0 1.5em 0 limegreen;
        color: green; 
    }

    .filter {      
        color:white;
        background-color: black;
    }
    
    .filter:hover {
        box-shadow: 0 0 1.5em 0 limegreen;
        color: green; 
    }

    .toggle-gif {      
        color:white;
        background-color: black;
    }
    
    .toggle-gif:hover {
        box-shadow: 0 0 1.5em 0 limegreen;
        color: green; 
    }

    .box {
        background-color: #13092dcd;
        border: .15rem dashed #2E520B; 
    }
    
    .updates {
        color:#990000;
        background-color:black;
    }