                                   /* Scrollbar styling */
                        /* Scrollbar Track Color */
                        ::-webkit-scrollbar-track {
                            background: rgba(12, 44, 8, 0.616);
                        }
                
                        /* Scrollbar Thumb Color */
                        ::-webkit-scrollbar-thumb {
                            background: darkolivegreen;
                            border: .15rem solid darkgreen;
                        }
                
                        /* Thumb Hover */
                        ::-webkit-scrollbar-thumb:hover {
                            background: darkolivegreen;
                        }
                        
    #theme-picker   {
            background: ivory;
            box-shadow: 0 0 1rem black;
        }

    body {
        background-color: #334500;
        color: #334500;
        background-image: var(--body-bg-image-light);
        
    }

    main {
        background-color: #C5CEBA;
    }

    main a {
        color: #334500;
    }
    
    main a:hover {
        color: darkgreen;
        background-color: white;
        box-shadow: 0 0 .25rem 0 limegreen; 
    }
    
    #header {
        background-color: #6A7A57;
        background-image: var(--header-image-light);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #navbar {
        background-color: #6A7A57;
    }
    
    #navbar ul {
        background-color: #6A7A57;
    }
    
    #navbar ul a {
        color: #334500;
    }
    
    #navbar a:hover {
        color: #334500;
        background-color: #6A7A57;
        box-shadow: 0 0 1em 0 #334500;
        }
    
    #navi    {
        border: 0.5rem solid white;
   }
   
    aside {
        background-color: #C5CEBA;       
    }
    
    #leftsidebar a:hover {
        color: darkgreen;
        background-color: white;
        box-shadow: 0 0 .25em 0 limegreen;
    }
    
    #leftsidebar a {
        color: purple;
    }

    #rightsidebar a {
        color: purple;
    }
    
    #rightsidebar a:hover {     
        color: darkgreen;
        background-color: white;
        box-shadow: 0 0 .25em 0 limegreen;
    }
 
    footer {
        background-color: #6A7A57;
    }
    
    footer a {
        color: #C5CEBA;  
    }
    
    footer a:hover {
        color: limegreen;
        background-color: #6A7A57;
        box-shadow: 0 0 .25em 0 #6A7A57;
    }
 
    #theme-box {
        background-color: #6A7A57;
        border: 2.5px solid black;  
    }

    .colortheme {
        background-color: white;
        color: black;
        box-shadow: 0 0 .5em 0 purple;    
    }

    .colortheme:hover {
        box-shadow: 0 0 1.5em 0 limegreen;
        color: green;
    
    }
    
    .box {
        background-color: #6A7A57;
        border: .15rem solid black;
    }
    
    .updates {
        color:black;
        background-color:#6A7A57;
   
    }   