
@font-face { 
    font-family:PixelSplitter; 
    src: url(../fonts/PixelSplitter.ttf); 
    }

* {
    cursor:  url("../images/cursor/cursor.png") 0 0, auto !important;
    }
    
a :hover {
    cursor: url("../images/cursor/cursor-pink.png") 0 0, auto !important;
    }

.click :hover {
    cursor: url("../images/cursor/cursor-pink.png") 0 0, auto !important; 
    }

iframe {
    border-radius: 1rem;
    border: .25rem solid;
    }

body {
    font-family:PixelSplitter; 
    width: 95%;
    height: 100%;
    cursor:  url("../images/cursor/cursor.png") 0 0, auto !important;
    }

aside {
    font-size: smaller;
    background: black;
    border-radius: 1rem;
    height:2800px;
    }

#leftsidebar a {
    text-decoration: none;
    padding: 100;
    } 
            
#leftsidebar a:hover {
    border-radius: .5em;
    box-shadow: 0 0 .25em 0;
    font-weight: bold; 
    padding: 100;
    }
            
#rightsidebar a {
    text-decoration: none;
    padding: 100;

    }
            
#rightsidebar a:hover {
    border-radius: .5em;
    box-shadow: 0 0 .25em 0;
    font-weight: bold; 
    padding: 100;
    cursor: url("../images/cursor/cursor-pink.png") 0 0, auto !important;
    }    

.box {
    border: .15rem dashed;
    padding: 1rem;
    justify-content:center;
    margin: 0 auto;
    border-radius: 1rem           
    }

#globe  {
    width: 90%;
    margin: 1rem;
    }
    
#moon   {
    transform: scale(1.25);
    padding-top: 2rem;
    padding-left: 2rem;

    }
    
.date-time  {    
    width:100%;
    height:4.35rem;
    align-content: center; 
    }
    
#boombox-container  {
    position: inline-block;
    text-align: center;
    z-index: 1;
    height: 15rem;
    }
    
#mp3-boombox {
    z-index: 2;
    display: inline;
    position: center;
    width: 15rem;
    }

.no-click   {
    width: 101px;
    height: 35px;
    background-color: black;
    border-radius: .25rem;
    border-color: black;
    box-shadow: 0 0 1rem 0 black;  
    opacity: 0%;
    transition: 
        opacity .5s;   
    }

    .no-click:hover {
    opacity: 100%;
    }
    
.no-click-button {
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
    background: transparent;
    border: none;
    }
        
.no-click:hover {
    box-shadow: 0 0 5rem 0 red;
    }
       
#no-click-box   {
    height: 3rem;
    }

#chatbox  {
    width: 101px;
    height: 35px;
    background-color: black;
    border-radius: .25rem;
    border-color: black;
    box-shadow: 0 0 1rem 0 black; 
    }
        
.chatbox-bg {
    background-color: transparent;
    border: none;
    }

strong {
    color:firebrick;
    font-weight: bold;
    transform: scale(1.25);
    }
                
important {
    background-color: orange;
    border-radius: .5rem;
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0 auto;
}
.boombox {
    font-family: 'pixelSplitter', 'Courier New', Monospace;
    z-index: 3;
    position: absolute;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    align-self:center;
    text-align: center;
    width: 85%;
    height:4.5rem;
    font-weight: bold;
    font-size: 3rem;
    color: black;
    background: black;
    border-radius: .5rem;
    opacity: 0%;
    transition:
        opacity .5s,
        box-shadow .5s;
}

.boombox:hover {
    color:green;
    opacity: 100%;
    box-shadow: 0px 0px 25px 18px rgba(49,221,0,1);
    cursor: url("../images/cursor/cursor-pink.png") 0 0, auto !important;
}


#fuck-ai, #clicksforpalestine, #madefordark, #pothead, #maskup, #construction, #neocitiesbutton, #guestbook {
    width: 101px;
    height: 35px;
    background-color: black;
    border-radius: .25rem;
    border-color: black;
    box-shadow: 0 0 1rem 0 black; 
}
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation: none !important;
        transition: none !important;
        }

    /* Give your GIFs an "animated" class and hide them */
    img.freeze {
        visibility: hidden;
    }
    /*add crt disabled to reduced motion*/
}

