:root {
    --header-image: url("https://file.garden/anb5fb-RvmNCRWUD/my-art/lichenthropic.png");
    --header-image-light: url("https://file.garden/anb5fb-RvmNCRWUD/backgrounds/lightmode-header.jpg");
    --body-bg-image: url("https://file.garden/anb5fb-RvmNCRWUD/backgrounds/geocities49.jpg");
    --body-bg-image-light: url("https://file.garden/anb5fb-RvmNCRWUD/backgrounds/moss-bg.jpg");
    --index-bg: url("https://file.garden/anb5fb-RvmNCRWUD/header.JPG");
    --cursor: url("/images/cursor.png");
    --content: (67,37,110);
    --content-light: (#334500); 
}

/*scrollbar*/  

    window.scroll   {
        top: 0; 
        left: 0;
        behavior: 'smooth',
    }

    /* Scrollbar styling */
    ::-webkit-scrollbar {
        width: .5rem;
        /* Vertical Width */
        height: .5rem;
        /* Horizontal Height */
    }
                
    /* Scrollbar Track Color */
    ::-webkit-scrollbar-track {
        border-radius: 5rem;
    }
                
    /* Scrollbar Thumb Color */
    ::-webkit-scrollbar-thumb {
        border-radius: 5rem;
        border: .15rem solid;
    }

    * {
        box-sizing: border-box;
    }

/*scrollbar*/

/*cursor*/

    * {
    cursor: var(--cursor) 0 0, auto !important;
        }

/*cursor*/

/*fonts*/

    @font-face { font-family:PixelSplitter; src: url(../fonts/PixelSplitter.ttf); }

/*fonts*/

/*base layout styling*/

    iframe {
        border-radius: 1rem;
        border: .5rem solid black;
        margin: .15rem;
    }

    #flex {
        display: flex;
    }

    #header {
        width: 100%;
        height: 50%;
        background-size:100%;  
    }
    
    #navbar {
        height: 100%;
        width: 100%;
    }

    body {
        height: auto;
        width: 90%;
        font-size: 1.25rem;        
        margin: 0 auto;
        background-image: var(--body-bg-image);
        font-family: 'PixelSplitter', 'Courier New', monospace;
        }
    
    main {
        position: center;
        flex: 1;
        margin: .5rem 1rem;
        padding: 1.5rem;
        order: 2;  
        height:auto;
        width: 40rem;
        border-radius: 1rem;
    }

    aside {
        margin: 0 auto;
        font-size: smaller;
        cursor: var(--cursor) 0 0, auto !important;
        width: 20rem;
        height: 5000px;
        background: transparent;
        border-radius: 1rem;
    }

    #sidebar    {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    #leftSidebar {
        display: flex;
        float: left;
        order: 1;
    }
    
    #rightSidebar {
        display: flex;
        float: right;
        order: 3;
    }

    #container {
        max-width: 60rem;
        margin: 0 auto;
        height: 100%;
    }

    #wrapper {
        display: flex;
        width: 100%;
    }

    .box {
        border: .15rem dashed;
        padding: 1rem;
        justify-content:center;
        margin: 0 auto;
        border-radius: 1rem           
    }

    footer {
        font-weight: bold;
        width: 100%;
        padding: 0.15em;
        text-align: center;
        margin: 0;
        border-radius: 1rem;
    }

    #theme-box {
        width: 5rem;
        float: left;
        height: 4rem;
        margin: 0 auto;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        border: 2.5px solid;
        margin-bottom: 1em;
        opacity: 90%;   
    }


/*base layout styling*/

/*assets*/

    .blinkie {
        width: 15rem;
        height: 3rem;
    }
    
    /*draggable*/

        /*clouds*/
            #cloud1 {
                transform: scale(3);
                
                }
            
            #cloud2 {
                transform: scale(2.5);
                }
            
            #cloud3 {
                transform: scale(5.5);
                }
            
            #cloud4 {
                transform: scale(5);
                }
        /*clouds*/
    
    /*draggable*/
    
    #mp3-player  { 
        margin: 0 auto;
        height: 100%; 
        width: 100%;
        padding: 0;
        overflow: hidden;
    }

    .ad {
        margin: 0 auto;
        padding: 0.5rem 0.5rem;
        display: inline-block;
        width: 250px;
        height: 250px;
    }
    
    #navi    {
        overflow: hidden;
        display: inline-block;
        border: 0.5rem solid;
   }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: .15rem;
        grid-row-gap: .15rem;
        justify-content: center;
        align-items: center;
    }

    #updates {
        font-size:1em;
        font-weight:bold;
        line-height:1.3em;
        padding:.5em;
    } 

    .thumbnail{
        width: 12em;
        display:inline-block;
        z-index:999;
        border: .75rem solid black;
        background: black;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
    }

        .thumbnail:hover {
            transform: scale(2);
        }

/*assets*/

/*tables*/

    .table-box  {
        display: inline-block;
        align-content: center;
    }

    table.buttonTable {
        text-align: center;
    }

/*tables*/

/*buttons*/

    .accessability  {
        background: black;
        border-radius: 1rem;
        width: 12rem;
        padding: .75rem;
    }


    .colortheme {
        border-radius: 1rem;
        padding: .5rem;
        margin: .5rem;
    }

    .toggle-gif {
        border-radius: 1rem;
        padding: .5rem;
        margin: .5rem;
    }

    .stop-gif {
        border-radius: 1rem;
        padding: .5rem;
        margin: .5rem;
    }

    .play-gif {
        border-radius: 1rem;
        padding: .5rem;
        margin: .5rem;
    }

/*buttons*/

/*links*/

    main a {
        text-decoration: none;
        padding: .15rem .15rem;
    }
    
        main a:hover {
            padding: .15rem .15rem;
            text-shadow: 0 0 .25rem 0;
            font-weight: bold;   
        }

    #navbar a {
        display: block;
        padding:1em 1em;
        text-decoration: none;
    }
    
        #navbar a:hover {
            transform: scale(1.25);
            border-radius: .25em;
            box-shadow: 0 0 1em 0;
            font-weight: bold;
        }

    #leftsidebar a {
        text-decoration: none;
        padding: 100;
    } 

        #leftsidebar a:hover {
            border-radius: .5em;
            box-shadow: 0 0 .25em 0;
            font-weight: bold; 
            padding: 100;
    }

    #rightsidebar a {
        text-decoration: none;
        padding: 100;
    }

        #rightsidebar a:hover {
            border-radius: .5em;
            box-shadow: 0 0 .25em 0;
            font-weight: bold; 
            padding: 100;
        } 

    footer a {
        padding: .15rem .15rem;
        text-decoration: none;
    }
    
        footer a:hover {
            border-radius: .5em;
            box-shadow: 0 0 .25em 0;
            font-weight: bold; 
            padding: .15rem .15rem;
        }

/*links*/

/*lists*/
    
    #navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

 /*lists*/

 /*details*/

    details > summary {
        list-style: none;
    }
    details > summary::-webkit-details-marker {
        display: none;
    }

 /*details*/
 
/*text styling*/

    h5  {
        font-weight: bold;
        font-size: 125%;
    }

    h4 {
       font-weight: bold;
       font-size: 150%;
    }
    
    h3 {
        font-weight: bold;
        font-size: 175%;
    }
    
    h2 {
        font-weight: bold;
        font-size: 200%;
    }
    
    h1 {
        font-weight: bold;
        font-size: 250%;       
    }
    
    strong {
        color: invert;
        font-weight: bold;
        transform: scale(1.25);
    }
    
    important   {
        background-color: orange;
        border-radius: .5rem;
        color: black;
        font-weight: bold;
        font-size: 2.5rem;
        margin: 0 auto;
    }
    

    
/*text styling*/

/*media queries*/

   @media only screen and (max-width: 1000px) {
       
        #theme-box {
            display: flex;
            transform: scale(0.75);
            align-content: center;
        }
        
        .colortheme {
            padding: 0.25rem;
            transform: scale(0.75);
            display: inline-block;
            font-size: 80%;
            font-weight: bold;
            margin: 0 auto;          
        }
        
        #wrapper {
            align-content: center;
            justify-content: center;
            display: inline-block;
            width: 100%; 
        }
        #site-updates {
            margin: 0 auto;
            display: inline-block;
            width:100%;
            height:40rem;
        }
        #to-do {
            margin: 0 auto;
            display: inline-block;
            width:100%;
            height:40rem;
        }
        
        #flex {
            flex-wrap: wrap;
        }
      
        aside {
            width: 100%;
            height: 5000px;
        }
      
        main {
            order: 1;
            width: 80%;
            height:100%;
        }
      
        #leftSidebar {
            height: 100;
            width: fill;
            margin: 0 auto;
            order: 2;
        }
      
        #rightSidebar {
            height: 100;
            width: fill;
            margin: 0 auto;
            order: 3;
        }
      
        #navbar ul {
            flex-wrap: wrap;
        }
      
        #navbar li {
            padding: .1rem;
        }
      
        #navbar {
            width: 100%;
            height:100%;
        }
        
    }

/*media queries*/