<header>
    <div class="container" id="header">
        <a id="top"></a>

        <marquee class="updates" direction="left" scrollamount="5" behavior="infinate;">| CLICK THE RED BUTTON | LAST
            UPDATED: SEPT 14 2026 | TAKE A TOKE AND COZY UP | SITE UNDER CONSTRUCTION | CLICK THE RED BUTTON | ACAB |
            BLACK LIVES MATTER | FREE PALESTINE | QUEER RIGHTS NOW | CLICK THE RED BUTTON | BE GAY DO CRIME | COVID
            NEVER ENDED | TRANS RIGHTS ARE HUMAN RIGHTS | CLICK THE RED BUTTON | CANNABIS IS MEDICINE | FREE HEALTHCARE
            FOR ALL | PUNCH A NAZI | THE ONE PIECE IS REAL | CLICK THE RED BUTTON | </marquee>
        <div>
            <div>
                <details class="draggable">
                    <summary>
                        <div>
                            <img id="access-fairy" src="../images/assets/navi.gif" title="accessability fairy"
                                alt="accessability menu" width="100px">
                        </div>
                        <br />
                    </summary>
                    <div class="accessability">
                        ACCESSABILITY

                        <br />


                        <button class="toggle-gif">GIF</button>
                        <button class="filter" onclick="crtoff(), location.reload()">CRT OFF</button>
                        <button class="filter" onclick="crton(), location.reload()">CRT ON</button>
                        <button class="colortheme" onclick="darkmode(), location.reload()">DARK</button>
                        <button class="colortheme" onclick="lightmode(), location.reload()">LIGHT</button>
                    </div>
            </div class="box">
            </details>
        </div>
    </div>
    <div id="header" style="height: 150px;">
    </div>
    <div id="headerArea">

        <nav id="navbar" style="margin-bottom: 10px; margin-top: 10px;">
            <ul>
                <li><a href="/pages/Homepage">HOME</a></li>
                <li><a href="/pages/About">ABOUT</a></li>
                <li><a href="/pages/gallery">GALLERY</a></li>
                <li><a href="/pages/Smokeroom">SMOKE ROOM</a></li>
                <li><a href="/pages/Links">CREDITS + LINKS</a></li>
                <li><a href="/pages/critters">CRITTERS</a></li>
                <li><a href="/pages/collection">COLLECTIONS</a></li>
            </ul>
        </nav>
    </div>
    </div>

    </div>

</header>