      <aside id="r-sidebar">
        <button class="toggle-gif">GIFS</button>
                
            <h2 style="text-align:center;">Tunes</h2>

                <div class="box" id="boombox-container">
                    <button class="boombox">
                        BOOMBOX
                    </button>
                    <script type="text/javascript">

                        $(function () {
                            $(".boombox").on("click", function (e) {
                                window.open("https://lichenthropic.neocities.org/popout-page/mp3", "_blank",
                                    "left=-550,top=0,width=200px,height=550px,padding=0");
                            });
                        });

                               </script>
                            <img id="mp3-boombox" src="https://lichenthropic.neocities.org/images/assets/boombox.png">
                        
                </div>
            </a>
                
                <h2 style="text-align:center;">Its 420 somewhere!</h2> 
             
            <div class="box" id="date-time">
            
                <p class="click" style="text-align:center;">
                
                    <iframe class="date-time" src="https://free.timeanddate.com/clock/iakw1nd7/n1091/tlca/fn8/fs18/fc090/tc000/pct/ftb/bas5/bat7/bac390/pa10/tt0/tw1/tm1/td2/th2/ta1/tb4" frameborder="0" width="250" height="90" allowtransparency="true"></iframe>

                </p>
                
            </div>
            
                <h2 style="text-align:center;">Take a toke, you deserve it</h2>
            <div class="box">
                    <ws-widget class="click" type="weather" iid="4230" width="90%" height="90%"></ws-widget>
            
            </div>
            
                <h2 style="text-align:center;">The MOON is watching over you </h2>
                
            <div class="box" style="text-align:center;">
            
            <ws-widget class="click" type="moon" id="moon" iid="4229" embed="iframe" width="90%"></ws-widget>   
            
            </div>
            <h2 style="text-align:center;">VISITORS</h2>
            <div class="box" style="text-align:center">
            <!--BEGIN HIT-COUNTER.NET CODE-->
            <a class="click" href="http://www.hit-counter.net"><img src="http://www.hit-counter.net/counter.php?action=count&style=crt&padding=10&id=lichenthropic.neocities" alt="Hit counter"></a>
            <!--END HIT-COUNTER.NET CODE-->

            </div>
            
            <h2 style="text-align:center">WEB-RINGS</h2>
            
            <div class="box">
            
                <p style="text-align:center">
                
                        <map name="noaimini7b">
                        
                            <area href="https://baccyflap.com/noai/?rnd" shape="rect" coords="30,6,144,54" target="_blank" alt="no ai webring random" title="no ai webring random">
                            
                            <area href="https://baccyflap.com/noai/?prv&s=ccl" target="_top" shape="rect" coords="6,12,24,54" alt="previous" title="previous">
                            
                            <area href="https://baccyflap.com/noai/?nxt&s=ccl" target="_top" shape="rect" coords="150,12,168,54" alt="next" title="next">
                        </map>
                        
                    <img class="click" style="width:176px;image-rendering:pixelated" usemap="#noaimini7b" src="https://baccyflap.com/noai/miniwidget7.gif" alt="a green-on-black grid with illuminated parts that spell out NO AI / WEBRING and two animated green arrows pointing left and right, bobbing up and down">
                    
                </p> 
                
            </div> 
            
            <h2 style="text-align:center;">
            
            Welcome to the <br/>WORLD WIDE WEB
            
            </h2>
               
            <div class="box">
            
                <img class="freeze" id="globe" src="https://lichenthropic.neocities.org/images/assets/aniglobe.gif">
                        
             </div>
            </aside>